<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <% @threads.each do |as| %>
      <div class='thread'>
        <h4><%= link_to as.title.titleize, forum_thread_path(as) %></h4>

        <div class='meta'>
          <%= I18n.l(as.created_at.to_date) %> oleh <%= as.user.name %>
        </div>

        <div class='content'>
          <%= as.content %>
        </div>

        <div class='count'>
          <%= as.forum_posts_count %> obrolan
        </div>

        <div style='clear: both'></div>
      </div>
    <% end %>
  </div>
</div>
