<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
      <div class='thread'>
        <h4><%= @thread.title.titleize %></h4>

        <div class='meta'>
          <%= I18n.l(@thread.created_at.to_date) %> oleh <%= @thread.user.name %>
        </div>

        <div class='content'>
          <%= @thread.content %>
        </div>
        <% @thread.forum_post.each do |as| %>
          
          <div class='thread'>
            <div class='meta'>
              <%= I18n.l(as.created_at.to_date) %> oleh <%= as.user.name %>
            </div>

            <div class='content'>
              <%= as.content %>
            </div>
           <% end %>
          </div>
        <% end %>
      </div>
  </div>
</div>
